.main-container-custom {
    color: rgb(56, 56, 56);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    .main-profile-custom {
        width: 600px;
        height: 150px;
        background-color: rgb(236, 236, 236);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .profile-picture {
            width: 100px;
            height: 105px;
            border-radius: 50%;
        }

        .main-profile-info-list-custom,
        .main-profile-info-profile-custom {
            display: flex;
            justify-content: center;
            flex-flow: column;
        }
    }

    .profile-info-custom {
        width: 600px;
        background-color: rgb(236, 236, 236);
        border: 1px solid rgb(247, 247, 247);
    }
}

.info-form-container-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 100%;
    width: 100%;

    .more-info-container-custom {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 10px;

        .input-info-custom {
            width: 100%;
            gap: 5px;
            padding: 10px;
            display: flex;
            flex-flow: column;

            .label-user-info-custom {
                font-size: 12px;
                font-weight: 800;
            }

            .input-user-info-custom {
                padding: 8px;
                border: 1px solid rgb(146, 146, 146);
                border-radius: 10px;
                width: 200px;
            }
        }

        .input-info-bio-custom {
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            grid-column-start: 1;
            grid-column-end: 3;

            .label-user-info-custom {
                font-size: 12px;
                font-weight: 800;
            }

            .input-user-info-custom {
                padding: 8px;
                border: 1px solid rgb(146, 146, 146);
                border-radius: 10px;
                width: 100%;
            }
        }
    }
}
